body {
    background-color: darkred;
    // background-image: url("https://wallpapertag.com/wallpaper/full/b/b/b/324094-best-pizza-background-1920x1080.jpg");
    // background-position: center;
    // background-size: cover;
    font-family: 'Work Sans', sans-serif;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'h'
        'm'
        'f';
    grid-template-rows: 216px 1fr 0fr;
}

/*header start*/

header {
    grid-area: h;
    background-color: rgba(45,6,9, 0.3);
    color: $text-color;
    text-align: center;
    z-index: 999;
}

.desktop-phone {
    font-size: 2rem;
    margin: 0;
    display: inline-flex;
}
.logo {
    margin-left: 5.5em;
}

.navbar {
    text-align: left;
    color: $text-color;
    left: 0;
    position: absolute;
}

.nav-link {
    font-size: 1.5em;
}

.bg-custom {
    background-color: rgba(45, 6, 9, 0.5);
    border-color: rgba(45, 6, 9, 0.5);
    text-transform: uppercase;
}

.hours-location {
    display: inline-grid;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: inherit;
    float: right;
}
/*content start*/

main {
    grid-area: m;
    align-content: center;
    background-position: center;
}

.carousel {
    margin-top: 2em;
    position: relative;
    margin-right: 2em;
    height: inherit;

    .carousel .slide {
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
    }
}

/*footer start*/

footer {
    grid-area: f;
    background-color: rgba(45,6,9, 0.5);
    color: $text-color;
    padding: 0;
    margin: 0;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 0;

            a {
                color: $text-color;
                display: block;
                padding: 14px 16px;
            }
        }
    }

    p {
        margin: 0;
        color: $text-color;
    }
}
